@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply bg-gray-900 text-white;
}

[type='button'] {
    @apply p-1 text-white text-base cursor-pointer;
}

input {
    @apply text-sm bg-gray-800 text-gray-300 placeholder-gray-500 border border-gray-700 rounded-sm;
}

textarea {
    @apply text-sm bg-gray-800 text-gray-300 placeholder-gray-500 border border-gray-700 rounded-sm focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 w-full h-[75px] resize-none;
}

#search-string {
    @apply p-1 w-full focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500;
}
.form-input-padding {
    @apply pb-2 relative;
}
.form-inline-div {
    @apply flex pb-1;
}
.inline-input-33 {
    @apply grid grid-flow-col justify-center w-1/3 relative;
}

.inline-input-66 {
    @apply grid grid-flow-col justify-center w-2/3 relative;
}

.inline-input-25 {
    @apply grid grid-flow-col justify-center w-2/5 relative;
}

.inline-input-75 {
    @apply grid grid-flow-col justify-center w-3/5;
}

#page-one-bottom-buttons {
    @apply flex;
}

#form-submit-button {
    @apply text-base bg-gray-800 placeholder-gray-500 border border-gray-700 rounded-sm;
}

#form-submit-button:hover {
    @apply bg-green-500;
}

#form-submit-button:active {
    @apply ring-green-300 border-green-300;
}

#form-reset-button {
    @apply mr-2 text-base bg-gray-800 placeholder-gray-500 border border-gray-700 rounded-sm;
}

#form-reset-button:hover {
    @apply bg-red-500;
}

#form-reset-button:active {
    @apply ring-red-300 border-red-300;
}

.titlebar-drag-region {
    -webkit-app-region: drag;
    height: 30px;
}

.titlebar {
    background-color: #1e293b;
    height: 30px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
}

.title {
    color: #ffffff;
    font-size: 14px;
    margin-left: 8px;
}

.window-controls {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.window-button {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.window-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.window-button span {
    color: #ffffff;
    font-size: 14px;
}

.small-input {
    @apply w-[40px] p-1 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500;
}

.duration-input {
    @apply w-[40px] p-1 table-cell focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500;
}

#file-input {
    @apply hidden;
}
#file-input-label {
    @apply p-1 text-center w-[150px] resize-none hover:ring-1 hover:ring-blue-500 hover:border-blue-500 cursor-pointer text-sm bg-gray-800 text-white placeholder-gray-500 border border-gray-700 rounded-sm focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500;
}
/* removes default "choose file" button */
::file-selector-button {
    display: none;
}

/* help info on hover */

#search-string-info {
    @apply hidden absolute bg-gray-900 text-white text-sm p-2 rounded-md w-[200px] mt-[2px] z-10;
}

#view-count-info {
    @apply hidden absolute bg-gray-900 text-white text-sm p-2 rounded-md w-[130px] mt-[2px] z-10;
}

#duration-info {
    @apply hidden absolute bg-gray-900 text-white text-sm p-2 rounded-md w-[130px] mt-[2px] z-10;
}

#worker-count-info {
    @apply hidden absolute bg-gray-900 text-white text-sm p-2 rounded-md w-[200px] mt-[2px] z-10;
}

.proxy-input-parent {
    @apply relative;
}
#proxy-info {
    @apply absolute z-10 mt-[2px] hidden w-[275px] rounded-md bg-gray-900 p-2 text-sm text-white;
}

#search-string:hover + #search-string-info {
    @apply block;
}

#view-count:hover + #view-count-info {
    @apply block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#min-view-s:hover ~ #duration-info {
    @apply block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#worker-count:hover ~ #worker-count-info {
    @apply block;
    top: 100%;
    left: 50%;
    transform: translateX(-30%);
}
#proxy-list:hover + #proxy-info {
    @apply block;
    top: 100%;
    left: 50%;
    transform: translateX(-38%) translateY(-250%);
}

.red-border {
    @apply ring-1 ring-red-500 border-red-500;
}

.header-text {
    @apply p-1 text-xl rounded-md bg-gray-800 mx-auto;
}
.page-contents {
    @apply text-base rounded-md bg-gray-800 mt-[6px] mx-auto;
}

/* page 2 stuff */
.flex-container-view-counts {
    @apply flex h-32;
}

.flex-container-proxy-display {
    @apply flex h-24;
}

.left-result-column {
    @apply flex flex-1 justify-center rounded-l-md bg-gradient-to-b from-blue-500 to-transparent;
}

.middle-result-column {
    @apply flex flex-1 justify-center bg-gradient-to-b from-green-500 to-transparent;
}

.right-result-column {
    @apply flex flex-1 justify-center rounded-r-md bg-gradient-to-b from-red-500 to-transparent;
}

.result-column-inner {
    @apply text-center items-center;
}
.count-header {
    @apply text-center mb-5;
}

.view-count {
    @apply text-center text-4xl mb-1;
}

.content-padding {
    @apply p-2;
}

#progress-bar-outer {
    @apply w-full bg-gray-900 rounded-full mb-2;
    height: 20px;
}

#progress-bar-inner {
    @apply h-full bg-blue-700 rounded-full;
}

#cancel-button {
    @apply focus:ring-red-300 focus:border-red-300;
}
#cancel-button:hover {
    @apply focus:ring-red-300 focus:border-red-300 bg-red-500;
}

/*   */

#page-one {
    display: block;
}
#page-two {
    display: none;
}
#page-three {
    display: none;
}

#bot-input-form {
    @apply w-full;
    display: table;
}

/* page 2 proxy display stuff */
.proxy-display-col-1 {
    @apply flex items-center justify-end text-right p-1 w-[25%];
}

.proxy-display-col-2 {
    @apply flex flex-col items-center justify-center overflow-hidden w-[50%];
}

.proxy-display-col-3 {
    @apply flex items-center p-1 justify-start w-[25%];
}

/* animation stuff */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

@keyframes shiftDownAndBrighten {
    0% {
        transform: translateY(0);
        opacity: 0.25;
    }
    100% {
        transform: translateY(1.7em);
        opacity: 1;
    }
}

@keyframes shiftDownAndDarken {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(1.7em);
        opacity: 0.25;
    }
}

/* top and bottom rows */
.dark-ip-address {
    opacity: 0.25;
}

/* middle row */
.light-ip-address {
    @apply p-1 rounded-md;
}

.animated-text-lighten {
    animation-name: shiftDownAndBrighten;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animated-text-darken {
    animation-name: shiftDownAndDarken;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* loading wheel stuff */
.lds-ring {
    position: absolute;
    top: 44px;
    left: 328px;
    width: 32px;
    height: 32px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 3rd page stuff */
.page-3-pie-chart {
    @apply rounded-md mt-[6px] mx-auto;
    background-color: red; /* For browsers that do not support gradients */
    background-image: conic-gradient(red 0%);
    transform: rotate(180deg);
}

.page-3-content {
    @apply p-2 text-base text-center rounded-md bg-gray-800;
    /* reversing rotation in parent div */
    transform: rotate(180deg);
}

.result-label {
    @apply mb-1;
}

.page-3-result {
    @apply p-1 bg-black rounded-md;
}

.page-3-buttons {
    @apply mt-2;
}

#exit-button {
    @apply mr-2 text-base bg-gray-800 placeholder-gray-500 border border-gray-700 rounded-sm;
}

#exit-button:hover {
    @apply bg-red-500;
}

#exit-button:active {
    @apply ring-red-300 border-red-300;
}

#new-run-button {
    @apply mr-2 text-base bg-gray-800 placeholder-gray-500 border border-gray-700 rounded-sm;
}

#new-run-button:hover {
    @apply bg-green-500;
}

#new-run-button:active {
    @apply ring-green-300 border-green-300;
}
